.App main {
  position: absolute;
  height: 90%;
  width:100%;
  background-image: url("./shared//images/pexels.jpeg");
  background-size: cover;
  display: flex;
  justify-content:center;
  align-items: center;
}